<div class="container mt-5">
  <h1>Books</h1>
  
  <div class="card mb-4">
    <div class="card-body">
      <%= form_tag search_path, method: :get, class: 'form-inline' do %>
        <div class="input-group w-100">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by title, author, or subject' %>
          <div class="input-group-append">
            <%= submit_tag "Search", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">by <%= book.author %></h6>
            <p class="card-text"><%= book.summary %></p>
            <p><strong>ISBN:</strong> <%= book.isbn %></p>
            <p><strong>Subject:</strong> <%= book.subject %></p>
            <p><strong>Library:</strong> <%= book.library.name %></p>
            <%= link_to "View Details", book_path(book), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="mt-4">
    <%= link_to "Back to Home", root_path, class: 'btn btn-secondary' %>
  </div>
  
  <div class="mt-5">
    <div class="alert alert-info">
      <p><small>Note: This is a demo application running without a database. Book borrowing functionality is limited.</small></p>
    </div>
  </div>
</div>
